@import "spaces.css";
@import "c-popup.css";
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #555555;
    font-size: 14px;
}

* {
    box-sizing: border-box;
    font-family: System-UI, sans-serif;
}

.main {
    padding: 25px;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
    text-indent: 10px;
    font-size: 20px;
    outline: none;
    line-height: 1;
    padding: 5px 0;
    border: 1px solid #2196F3;
    border-radius: 3px;
}

.row {
    overflow: auto;
    clear: both;
}

.center-text {
    text-align: center;
}

.w-50-p {
    width: 50%;
}

.w-100-p {
    width: 100%;
}

.h-30-px {
    height: 30px;
}

.lh-1 {
    line-height: 1;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.fl-l-resp {
    float: left;
}

.fl-r-resp {
    float: right;
}

p.label {
    margin: 0;
}

.i-group {
    position: relative;
    padding: 5px;
}

.i-group label[for] {
    position: absolute;
    background: #ffffff;
    top: -5px;
    left: 14px;
    padding: 0 5px;
}

.f-exp-name,
.f-exp-val {
    width: 50%;
    float: left;
}

.f-exp-val,
.list-val {
    text-align: right;
}

#exp-list,
#exp-income,
#exp-remaining {
    display: block;
    overflow: auto;
}

#exp-income,
#exp-remaining {
    border-top: 1px dotted #aaaaaa;
    margin-top: 10px;
    padding-top: 10px;
}

.list-lbl,
.list-val {
    float: left;
    width: 50%;
}

.exp-group {
    float: left;
    width: 50%;
}

.ovf-auto {
    overflow: auto;
}

.min-ctrl,
.add-ctrl {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
    .exp-group {
        float: none;
        width: 100%;
    }

    .fl-l-resp {
        float: none;
    }

    .fl-r-resp {
        float: none;
    }
}